{% block header %}
    <header class="bg-gray-800 text-white p-4">
        <div class="mx-[1vw] lg:mx-[5vw] xl:mx-[12vw] flex justify-between items-center">
            <h1 class="text-2xl font-bold">E-commerce</h1>
            <nav class="nav">
                <ul class="flex space-x-4">
                    <li><a href="/" class="text-white hover:text-gray-300">Catalogue</a></li>
                    <li><a href="/cart" class="text-white hover:text-gray-300">Mon panier</a></li>
                </ul>
            </nav>
        </div>
    </header>
{% endblock %}
